



<div 
	id 			= "toc" 
	ng-click	= "narrow && toggleTOC(false); $event.stopPropagation()"
	ng-class	= "{scroll: no_scrollbar_width}"
>
	<ul>
		<li>nsbw: {{no_scrollbar_width}}</li>
		{% assign last_depth = 0 %}
		{% for chapter in chapters %}
			{% assign current_chapter_number 	= chapter.number | split : "." %}
			{% assign current_depth 			= current_chapter_number | size %}

			{% if current_depth == 1 %}
				</ul>
				<ul active-chapter-match = "^chapter-{{current_chapter_number | first}}(\.|$)">
			{% endif %} 


			<li 
				class 					= "chapter-{{current_chapter_number | first}} depth-{{current_chapter_number | size}}"
				active-chapter-match 	= "^chapter-{{chapter.number}}$" 
			>
				<a href ="#chapter-{{chapter.number}}">
					<i class = "fa fa-angle-right fa-xs"></i>
					<div class = "chapter-heading">	
					 	<span class = "chapter-number">
							{% for digit in current_chapter_number %}<span class ="digit">{{ digit }}</span>{% if forloop.last != true %}.{% endif %}{% endfor %}
						</span>
						<span class = "chapter-title">
							{{chapter.title}}
						</span>
					</div>
				</a>
			</li>
			
			
			{% assign last_chapter_number 	= current_chapter_number %}
			{% assign last_depth 			= current_depth %}


		{% endfor %}
	


		{% for chapter in chapters %}
				{% assign number_arr = chapter.number | split: "." %}
				{% if chapter.type != 'excursion' %}
					
				{% endif %}
		{% endfor %}
	</ul>
</div>

