



<div id ="toc" ng-click	= "toggleTOC()">

	<ul>
		
		{% for chapter in chapters %}
			{% assign current_chapter_number 	= chapter.number | split : "." %}
			{% assign current_depth 			= current_chapter_number | size %}

			{% if current_depth	> last_depth %} 	
				{% assign steps = current_depth | minus : last_depth %}
				{% for i in (1..steps) %}
					<ul class = "level"> 	
				{% endfor %}
			{% endif %}


			{% if current_depth < last_depth %} 
				{% assign steps = last_depth | minus : current_depth %}
				{% for i in (1..steps) %}
					</ul> 	
				{% endfor %}
			{% endif %}

			<li class = "chapter-{{current_chapter_number | first}} depth-{{current_chapter_number | size}}">
				<a href ="#chapter-{{chapter.number}}">
					<div class = "chapter-title">	
					 	<span class = "chapter-number">
							{% for digit in current_chapter_number %}<span class ="digit">{{ digit }}</span>{% if forloop.last != true %}.{% endif %}{% endfor %}
						</span>
						{{chapter.title}}
					</div>
				</a>
			</li>
			
			
			{% assign last_chapter_number 	= current_chapter_number %}
			{% assign last_depth 			= current_depth %}


		{% endfor %}
		
		{% if last_depth > 1%} 
			{% for i in (1..last_depth) %}
				</ul> 	
			{% endfor %}
		{%endif %}



		{% for chapter in chapters %}
				{% assign number_arr = chapter.number | split: "." %}
				{% if chapter.type != 'excursion' %}
					
				{% endif %}
		{% endfor %}
	</ul>
</div>

