{% include prep.liquid %}

	
<!DOCTYPE html>
<html 
	lang		= "{{lang}}" 
	ng-app 		= "FreifunkOER" 
	class		= "{% raw %} {{show.menu ? 'showMenu' : ''}} {% endraw %}"
>

	{% include head.html %}



	<body id = "top">


		<button 
			id 			= "toggleMenu"
			ng-click	= "show.menu = !show.menu" 
		>
			<i class = "fa {% raw %} {{show.menu ? 'fa-times' : 'fa-bars'}} {% endraw %}"></i>
		</button>

		<nav 
			class 		= "main"
			ng-click	= "show.menu = false"
		>
			{% include toc.html %}
		</nav>


		<nav class = "secondary">

			{% if languages.size != 0 %}
				<div class	= "languages">
					<a>{{page.language}}</a>

					{% for language in languages %}
						<a href	= "index_{{language}}.html">{{language}}</a>
					{% endfor %}
				</div>
			{% endif %}

			<a>X</a>
			<a>Y</a>
			<a>Z</a>

		</nav>

		<aside>
			{{ page.content | markdownify }}
		</aside>
	

		{% assign last_chapter_number	= "0.0.0.0" | split : '.' %}
		{% assign last_depth 			= 0 %}
		<section class	=	"main-content chapters level">

			<!-- javascript misssing -->
			<div id = "fo-javascript-missing">
				<script id = "javascrip">
					var el = document.getElementById('fo-javascript-missing')
					el.parentNode.removeChild(el)
				</script>
				Please enable Javascript.
			</div>
			

			{% for chapter in chapters %}
				{% assign current_chapter_number 	= chapter.number | split : "." %}
				{% assign current_depth 			= current_chapter_number | size %}

				{% if current_depth	> last_depth %} 	
					{% assign steps = current_depth | minus : last_depth %}
					{% for i in (1..steps) %}
						<section class = "level"> 	
					{% endfor %}
				{% endif %}


				{% if current_depth < last_depth %} 
					{% assign steps = last_depth | minus : current_depth %}
					{% for i in (1..steps) %}
						</section> 	
					{% endfor %}
				{% endif %}

				{{chapter.output}}
				
				
				{% assign last_chapter_number 	= current_chapter_number %}
				{% assign last_depth 			= current_depth %}


			{% endfor %}
			
			{% if last_depth > 1%} 
				{% for i in (1..last_depth) %}
					</section> 	
				{% endfor %}
			{%endif %}

		</section>

		{% include footer.html %}

	</body>
</html>
