
@font-face { font-family: 'fira-sans-semi-bold'; 		src: url('../fonts/FiraSans-SemiBold.otf')		format('opentype'); }
@font-face { font-family: 'fira-sans-light'; 			src: url('../fonts/FiraSans-Light.otf')			format('opentype'); }
@font-face { font-family: 'fira-sans-regular'; 			src: url('../fonts/FiraSans-Regular.otf')		format('opentype'); }




html,
body {
	min-height:				100%;
	padding:				0;
	margin:					0;
	font-family:			fira-sans-light, sans-serif;
	overflow:				hidden;
	background:				#fff;
}


/* general layout */

.main-content{
	position:				absolute;
	top:					0;
	bottom:					0;
	left:					0;
	right:					0;
	transition:				transform 200ms ease-in;
	overflow-y:				scroll;
	overflow-x:				hidden;
	scroll-behavior: 		smooth;
	padding-top:			2rem;
}

.main-content > section > * {
	display:				block;
	padding:				1rem;
	margin:					auto;
	max-width:				40rem;	
	width:					auto;
}

nav.main {
	position:				absolute;
	top:					0;
	bottom:					0;
	left:					0;
	width:					22rem;
	overflow-y:				hidden;
	overflow-x:				hidden;
	background:				#ffffff;
	color:					#444;
	z-index:				100;
	transform:				translateX(-22rem);
	transition:				transform 200ms ease-in;
	pointer-events:			none;
}

nav.main:hover{
	overflow-y:				scroll;
}

nav.main header {
	height:					11rem;
	background-image:		url(../images/ffmb_logo-mit-text_cmyk.png);
	background-size:		10rem;
	background-repeat:		no-repeat;
	background-position:	2rem 1rem;
	width:					22rem;
}

nav.secondary {
	position:				absolute;
	top:					0;
	right:					0;
	width:					6rem;
	z-index:				100;
	transform:				translateX(5rem);
	transition:				transform 200ms ease-in;
}

aside {
	display:				none;
}

.showMenu nav{
	transform:				translateX(0);
	pointer-events:			auto !important;
}

#toggleMenu {
	position:				fixed;
	bottom:					0rem;
	right:					0rem;
	border-radius:			100%;
	font-size:				2rem;
	background-color:		#009ee0;
	color:					#fff;
	z-index:				200;
}



/* without permanent sidebars */

@media (max-width: 50rem){
	nav.main {
		box-shadow:				0 0 1rem 0 rgba(0,0,0,0.3);
	}
}

/* with permantent left sidebar */
@media (min-width: 50rem){
	nav.main {
		transform:				translateX(0rem);
		pointer-events:			auto;
	}

	.main-content{
		padding-left:			22rem;
	}

	#toggleMenu {
		display:				none;
	}
}

/* width permantent right sidebar */

@media (min-width: 70rem){
	nav.secondary{
		transform:				translateX(0rem);
		pointer-events:			auto;
	}

	.main-content{
		padding-right:			5rem;
	}
}



/* basic */


#fo-javascript-missing {
	background:				rgba(255, 0, 0, 0.5);
	padding:				0.5rem;
	text-align:				center;
	color:					#fff;
}


h1, h2, h3, h4, h5, h6 {
	font-family:			fira-sans-regular, sans-serif;
	font-weight:			normal;
	padding-top:			2rem;
}


a {
	color:					inherit;
	text-decoration:		none;
	outline: 				0 !important;
}

button::-moz-focus-inner {
	border:					0;
}




/* toc */

#toc {
	box-sizing:				border-box;
	font-size:				0.8rem;
	width:					22rem;
	padding-left:			2rem;
	color:					#000;
	padding-bottom:			4rem;
}

#toc ul {
	list-style:				none;
	margin:					0;
	padding:				0;
}

#toc li a {
	display:				block;
	padding:				0.2em 0.5rem;
}

#toc li:active{
	background:				rgba(0,0,0,0.1);
}

#toc > ul {
	margin-top:			1rem;
}

#toc > ul:nth-child(2n){
	background-color:		rgba(255,180,0, 1);
}

#toc > ul:nth-child(2n+1){
	background-color:		rgba(220,0,103, 1);
}


#toc > ul > li:nth-child(2n+1) {
	background-color:		rgba(240,240,240, 0.5);
}

#toc > ul > li:nth-child(2n) {
	background-color:		rgba(240,240,240, 0.75);
}

#toc > ul > li:first-child {
	background-color:		transparent;
}



#toc .chapter-heading {
	display:				flex;
	align-items:			top;
}

#toc .chapter-number {
	flex:					0 0 9ex;
	display:				inline-block;
	font-family:			monospace;
}

#toc .chapter-title {
	flex:					1 0 0;
	word-break:				break-all;
}

#toc .chapter-number .digit {
	display:				inline-block;
	font-size:				0.75em;
}


/* menu */

button, 
nav.secondary a {
	display:				block;
	cursor:					pointer;
	width:					2em;
	height:					2em;
	line-height:			2em;
	text-align:				center;
	margin:					1rem;
	font-family:			fira-sans-semi-bold;
	color:					#fff;
	background-color:		#009ee0;
	border-radius:			100%;
	font-size:				2rem;
	border:					none;
	box-shadow:				0 0 0.5rem rgba(0,0,0,0.3);
	padding:				0;
	transition:				transform 100ms ease-in;
}

nav.secondary a:hover {
	transform:				scale(1.1);
}



p {
	line-height:			1.4em;
	margin:					1.4rem 0;
	text-align:				justify;
}




/* images */

[enlarge-on-click]{
	cursor:					pointer;
}

.full-screen {
	position:				fixed !important;
	top:					0;
	right:					0;
	left:					0;
	bottom:					0;
	background:				rgba(0,0,0,0.9);
	z-index:				99999;
	max-width:				100% !important;
	max-height:				100% !important;
}

.full-screen img{
	width:					100%;
	max-height:				100%;
	max-width:				100%;
}

.full-width img{
	display:				block;
	width:					100% !important;
}

.float-left {
	position:				relative;
	display:				inline-block;
	padding:				1.4em 1.4em 1.4em 0;
	float:					left;
}

.float-left  * {
	margin:					0;
	padding:				0;
}

.float-left img {
	height:					13.6em;
	width:					auto;
}


.float-right {
	position:				relative;
	display:				inline-block;
	padding:				0 1.4em 1.4em 1.4em;
	float:					right;
}

.float-right  * {
	margin:					0;
	padding:				0;
}

.float-right img {
	height:					13.6em;
	width:					auto;
}



.double {
	display:				flex;
	justify-content: 		space-between;
}

.double > * {
	flex:					1 0 0;
	max-width:				48%;	
	position:				relative;
}

.double > * img {
	width:					100%;
}

/*
.half img{
	display:				block;
	width:					50%;
}

.half.left img{
	margin-right:			auto;
}

.half.right img{
	margin-left:			auto;
}

.half.center img{
	margin:					auto;
}
*/
article img {
	display:				block;
	width:					50%;
	margin:					auto;
}